.grid-cell {
  border-top: 1px solid #363636;
  width: 15px;
  height: 15px;
  position: relative;
}

.grid-cell:not(:first-child) {
  border-left: 1px solid #363636;
}

.grid-cell-wall:not(.grid-cell-snake.grid-cell-game-over.grid-cell-snake-head) {
  background-color: #00d9ff;
}

.grid-cell-snake-head:not(.grid-cell-game-over) {
  background-color: #15ff00 !important;
}

.grid-cell-snake:not(.grid-cell-game-over) {
  background-color: #086600;
}

.grid-cell-snake.grid-cell-game-over.grid-cell-snake-head {
  background-color: #e72e2e !important;
}

.grid-cell-snake.grid-cell-game-over {
  background-color: #ff7171;
}

.grid-cell-snack {
  background-color: #d87bf0;
}
